# Ignore WordPress core files (managed by WP Engine)
wp-admin/
wp-includes/
wp-config.php

# Ignore cache, uploads, and logs
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/
*.log
.DS_Store
Thumbs.db
wp-content/object-cache.php
wp-content/object-cache.php

# Ignore WP Engine System Files
wp-content/mysql.sql
wp-content/mu-plugins/wpengine-common/
wp-content/mu-plugins/mu-plugin.php
wp-content/mu-plugins/slt-force-strong-passwords.php

# Ignore Cache, Backups, and Logs
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/
*.log
*.sql
